highcharts-chart {
  padding-bottom: 30px;
}

::ng-deep.highcharts-data-table table {
  border-collapse: collapse;
  border-spacing: 0;
  background: white;
  min-width: 70%;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 0.9em;
}

::ng-deep.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  border: 1px solid silver;
  padding: 0.5em;
}

::ng-deep.highcharts-data-table th {
  text-align: center;
}

::ng-deep.highcharts-data-table td {
  text-align: center;
}

::ng-deep.highcharts-data-table tr:nth-child(even), .highcharts-data-table thead tr {
  background: #f8f8f8;
}

::ng-deep.highcharts-data-table tr:hover {
  background: #CCCCCC;
}

::ng-deep.highcharts-data-table caption {
  border-bottom: none;
  font-size: 1.3em;
  font-weight: bold;
  color: #000000 !important;
  text-align: center;
}
