<mat-table [dataSource]="dataSource " class="measurements-table">
  <ng-container matColumnDef="date">
    <th class="table-header" mat-header-cell *matHeaderCellDef> Date</th>
    <td mat-cell *matCellDef="let measurement">{{measurement.timestamp | date:'dd/MM/yyyy HH:mm'}}</td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th class="table-header" mat-header-cell *matHeaderCellDef> Value</th>
    <td mat-cell *matCellDef="let measurement">{{measurement.value | number : '1.2-2'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</mat-table>
<mat-paginator [pageSize]="10"
               [pageSizeOptions]="[5, 10, 15]">
</mat-paginator>

