.mat-table {
  width: 80vw;
  overflow: auto;
  display: inline-table;
}

.table-header {
  width: 50%;
  font-weight: bolder;
  font-family: Poppins;
  font-size: 4vh;
  padding: 10px;
  justify-content: center;
}

th.mat-header-cell, mat-cell {
  justify-content: center !important;
  text-align: center;
}

td.mat-cell {
  justify-content: center !important;
  text-align: center;
  font-size: 20px;
}
