<h1 mat-dialog-title>Upload configuration file</h1>
<div mat-dialog-content>
  <input id="files" type="file"
         [accept]="requiredFileType"
         (change)="onFileSelected($event)">
  <div *ngIf="error" class="error-message">Unable to load selected file. Try again.</div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-raised-button color="primary"
          class="submit-button"
          *ngIf="fileSelected"
          (click)="uploadFileToActivity()">
    Submit
  </button>
</div>
