<app-top-panel></app-top-panel>
<div class="main-page">
  <div class="half-circle">
    <div class="data-container" *ngIf="!loading && !error">
      <div class="title">
        {{stationId}}
      </div>
      <div class="last-activity">
        Last activity: {{latestActivity?.toDateString()}} {{latestActivity?.toLocaleTimeString()}}
      </div>

      <!-------------RECENT DATA-------------------->
      <mat-grid-list [cols]="recentCols" (window:resize)="onResize($event)"
                     class="recent-measurement-list"
                     [rowHeight]="recentRowHeight" [gutterSize]="'8%'">
        <div *ngFor="let field of dataTypes">

          <div *ngIf="getLastMeasurement(field.name) as measurement">
            <mat-grid-tile *ngIf="measurement.unit !== undefined">
              <div class="mat-grid-tile-content">
                <mat-card
                  style="width: 100%;overflow: hidden; border-radius: 17px; background-color: rgb(133, 190, 149, 0.76);margin: 10px">
                  <mat-card-title>{{this.nameParser.parseName(field.name)}}</mat-card-title>
                  <mat-card-content
                    class="recent-measurement-val">
                    {{measurement?.value}} {{measurement?.unit}}
                  </mat-card-content>
                </mat-card>
              </div>
            </mat-grid-tile>
          </div>
        </div>
      </mat-grid-list>

      <mat-grid-list cols="1"
                     class="content-grid"
                     [rowHeight]="mainListRowHeight"
                     gutterSize="200px">
        <!--        ----------------FILTERS-------------------               -->
        <mat-grid-tile class="filters" [rowspan]="filterRowspan">
          <div class="mat-grid-tile-content" style="display: block; padding: 2%; ">

            <div style="font-family: 'Bebas Neue'; font-size: 32px; font-weight: 500">
              AVAILABLE FILTERS
            </div>

            <mat-grid-list [cols]="breakpoint"
                           [rowHeight]="filterRowHeight"
                           (window:resize)="onResize($event)"
                           gutterSize="30px">
              <!--            TIME                -->
              <mat-grid-tile [rowspan]="calendarRowspan" style="display: block !important;">
                <div class="mat-grid-tile-content calendar">
                  <mat-card style="display: block !important;">
                    <mat-card-title-group>
                      <mat-card-title class="filter-name">Time</mat-card-title>
                    </mat-card-title-group>
                    <mat-card>
                      <mat-calendar (selectedChange)="onTimeRangeChange($event)"
                                    [selected]="selectedDateRange">
                      </mat-calendar>
                    </mat-card>
                  </mat-card>
                </div>
              </mat-grid-tile>

              <!--        Data    +  charts       -->
              <mat-grid-tile [rowspan]="dataRowspan">
                <div class="mat-grid-tile-content ">
                  <mat-card style="margin-bottom: 0%;">
                    <div class="data-choice">

                      <mat-card-title-group>
                        <mat-card-title class="filter-name">Data to show</mat-card-title>
                      </mat-card-title-group>

                      <mat-chip-list selectable multiple>
                        <mat-chip selected
                                  class="data-chip"
                                  #c="matChip"
                                  *ngFor="let data of this.filterDataTypes()"
                                  [value]="data.name" (click)="toggleSelection(c, data)">
                          <mat-icon *ngIf="c.selected">check</mat-icon>
                          {{nameParser.parseName(data.name)}}
                        </mat-chip>
                      </mat-chip-list>
                    </div>

                    <div class="show-charts">Show charts!
                      <mat-slide-toggle style="background-color: white; padding: 10%; border-radius: 20px"
                                        (change)="onChange($event)"
                                        [(ngModel)]="showCharts">
                      </mat-slide-toggle>
                    </div>
                  </mat-card>
                </div>
              </mat-grid-tile>

              <!-- UNITS -->
              <mat-grid-tile class="unit-changer">
                <div class="mat-grid-tile-content">
                  <mat-card style=" padding:8%">
                    <mat-card-title-group>
                      <mat-card-title class="filter-name">Unit</mat-card-title>
                    </mat-card-title-group>
                    <div *ngFor="let field of dataTypes">
                      <mat-card *ngIf="field.units !== undefined && field.units.length !== 1 ">
                        <div
                          style="font-size: 12px; font-family: Poppins; font-weight: 500;color: #5eab87">{{nameParser.parseName(field.name)}}</div>
                        <mat-radio-group [(ngModel)]="field.event"
                                         (ngModelChange)="onSelectedUnitChange(field)"
                                         class="unit" style="font-size: 12px">
                          <mat-radio-button style="padding-left: 5%;" *ngFor="let unit of field.units"
                                            [value]="unit">{{unit}}
                          </mat-radio-button>
                        </mat-radio-group>
                      </mat-card>
                    </div>
                  </mat-card>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-grid-tile>
        <!--        -------------------DETAILED DATA------------------------ -->
        <mat-grid-list cols="1"
                       [style]="detailedDataStyle"
                       gutterSize="200px"
                       [rowHeight]="detailedDataRowHeight">
          <div *ngFor="let field of dataTypes" style="align-content: center;justify-content: center">
            <mat-grid-tile *ngIf="field.show">
              <div class="mat-grid-tile-content data-field">
                <mat-grid-tile-header
                  style="font-family: 'Bebas Neue'; font-size: 56px; padding: 2%; background-color: transparent">{{field.name}}</mat-grid-tile-header>

                <mat-grid-list [cols]="1" gutterSize="100px" [rowHeight]="singleDetailedDataRowHeight">
                  <mat-grid-tile style="top:90px;">
                    <app-single-data-visualisation [measurements]="getMeasurements(field.name)"
                                                   [selectedDateRange]="selectedDateRange">
                    </app-single-data-visualisation>
                  </mat-grid-tile>
                  <div *ngIf="showCharts">
                    <mat-grid-tile>
                      <div class="mat-grid-tile-content">
                        <app-time-chart [data]="getChartData(field.name)"
                                        [style]="'padding-left:35px;'">
                        </app-time-chart>
                      </div>
                    </mat-grid-tile>
                  </div>
                </mat-grid-list>
              </div>
            </mat-grid-tile>
          </div>
        </mat-grid-list>
      </mat-grid-list>
    </div>

    <div *ngIf="loading" class="loading-spinner-panel">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!loading && error" class="no-data-panel">
      <div class="info-panel">
        <mat-icon class="no-data-icon">info</mat-icon>
        <span class="no-data-text">
        {{errorMessage}}
      </span>
      </div>
      <div class="error-button-panel">
        <button mat-button
                class="error-button"
                color="primary"
                (click)="reloadPage()">
          <span class="button-text">{{reload}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
