app-top-panel {
  width: 10%;
}

.main-page {
  display: flex;
  width: 100%;
}

.half-circle {
  margin-top: 5%;
  width: 100%;
  height: 170vh;
  background-color: black;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(203, 224, 198, 0.21612394957983194) 67%, rgba(201, 223, 196, 0.5858718487394958) 93%, rgba(144, 190, 133, 0.5326505602240896) 100%);
}

.title {
  word-wrap: break-word;
  font-size: 32px;
  font-family: 'Bebas Neue';
  font-weight: 500;
}

.data-container {
  margin-left: 6%;
  margin-right: 6%;
}

.last-activity {
  font-family: Poppins;
  color: #7a7676;
  padding-bottom: 10px;
}

.content-grid {
  margin-top: 6%;
  padding: 0%;
}

.mat-grid-tile {
  overflow: visible !important;
  display: block !important;
}

.recent-measurement-val {
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  color: white;
}

.filters {
  font-size: 20px;
  border-radius: 10px;
}

.mat-grid-tile-content {
  display: block !important;
  align-items: center;
}

.filter-name {
  font-family: 'Poppins';
  font-size: 20px;
  text-align: left;
}

mat-grid-tile.data-field {
  background-color: #D6D5D5;
  border-radius: 7px;
}

.mat-select {
  overflow: visible !important;
}

.mat-form-field {
  padding-bottom: 3em;
}

.show-charts {
  background-color: white;
  font-family: Poppins;
  width: 80%;
  margin-top: 15%;
  padding: 0% 5%;
  text-align: center;
  border-radius: 6px;
}

.data-field {
  display: block !important;
  padding: 1%;
  align-content: center;
  font-size: 20px;
  background-color: #D6D5D5;
  border-radius: 10px;
}

::ng-deep .mat-form-field-infix {
  background-color: rgb(255, 255, 255);
  height: 10%;
  width: 200px;
  border-radius: 10px;
  border: none;
}

::ng-deep .mat-select-content {
  margin-left: 100px;
}

.select-form {
  color: #5eab87;
}

::ng-deep .mat-form-field-flex {
  border: none;
}

::ng-deep .mat-form-field-wrapper > .mat-form-field-flex {
  background-color: white;
  border: none;
  border-radius: 10px;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

::ng-deep .mat-select-min-line {
  width: 200%;
}

.data-chip {
  background-color: white;
  font-family: 'Poppins';
  color: #72c49b;
  padding: 5px;
  margin: 3%;
  font-size: 12px;
}

::ng-deep .my-chip .mat-chip-selected {
  background-color: #000 !important;
  color: #fff;
}

::ng-deep .mat-radio-button ~ .mat-radio-button {
  margin-left: 5px;
}

::ng-deep .mat-radio-label-content {
  margin-left: -7px;
}

@media (max-width: 370px) {
  .data-to-show {
    top: -100px
  }

  .unit-changer {
    top: 120px;
  }
}

@media (max-width: 570px) {
  .content-grid {
    margin-top: 400px;
  }
}

@media (max-width: 700px) {
  .content-grid {
    margin-top: 100px;
  }
}

.loading-spinner-panel {
  display: grid;
  justify-content: center;
  padding-top: 100px;
}

.no-data-panel {
  display: grid;
  justify-content: center;
  padding-top: 100px;
  padding-left: 160px;
}

.info-panel {
  color: #707581;
  width: 80%;
  padding-left: 60px;
}

.no-data-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
}

.no-data-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.error-button-panel {
  justify-content: center;
  width: 80%;
  display: flex;
  padding-top: 30px;
}

.error-button {
  background-color: #6CB48F;
  color: #FFFFFF;
}

.button-text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #6CB48F;
}
