::ng-deep .mat-focused .mat-form-field-label {
  color: #6CB48F !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #6CB48F !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #6CB48F !important;;
}

::ng-deep .mat-form-field-label {
  color: #6CB48F !important;
}

.close-button {
  background-color: #6CB48F;
  color: #FFFFFF;
}

.mat-dialog-content {
  display: grid;
}

.warning-title {
  padding-left: 10px;
  padding-top: 5px;
}

h1 {
  align-items: center;
  display: flex;
}

span {
  padding-bottom: 5px;
  font-family: Poppins;
  font-weight: 300;
}

.info-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}
