<h1 mat-dialog-title>
  <mat-icon class="info-icon">info</mat-icon>
  <span class="warning-title">About us</span>
</h1>
<div mat-dialog-content>
  <span>This application was created as part of course "Inżynieria Oprogramowania" at AGH UST in Cracow.</span>
  <span>Authors: Anna Gut, Ernest Roszak, Łukasz Dubiel, Patryk Busse, Zuzanna Brzezińska</span>
</div>
<div mat-dialog-actions style="float: right">
  <button mat-button mat-dialog-close class="close-button" color="primary">Close</button>
</div>
