.list-panel {
  width: 25%;
  padding-left: 40px;
  padding-top: 50px;
}

.list {
  min-height: 560px;
}

.chart-panel {
  width: 80%;
  height: 90vh;
  padding-top: 100px;
  padding-left: 50px;
}

.my-charts {
  display: flex;
}

.content-container {
  margin-top: 5%;
  width: 98vw;
  height: 170vh;
  background-color: black;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(203, 224, 198, 0.21612394957983194) 67%, rgba(201, 223, 196, 0.5858718487394958) 93%, rgba(144, 190, 133, 0.5326505602240896) 100%);
}

.no-data-panel {
  display: grid;
}

.no-data-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
}

.no-data-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
}

.info-panel {
  color: #707581;
  width: 60%;
  padding-left: 60px;
}

.no-data-button {
  background-color: #6CB48F;
  color: #FFFFFF;
}

.go-to-my-datasets {
  justify-content: center;
  width: 60%;
  display: flex;
  padding-top: 30px;
  padding-left: 30px;
}

.button-text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
}

app-footer {
  float: right;
}

.subheader {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: #616462;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.selection {
  padding-top: 10px;
  padding-bottom: 40px;
}

::ng-deep .mat-accent .mat-pseudo-checkbox-checked {
  background: #6CB48F;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #6CB48F;
}

.loading-spinner-panel {
  width: 80%;
  height: 90vh;
  padding-top: 130px;
  justify-content: center;
  display: grid;
  padding-right: 300px;
  padding-left: 50px;
}

.header {
  font-family: Poppins;
  font-weight: 400;
  position: center;
  font-size: 24px;
  padding-left: 8px;
  padding-right: 10px;
}

.header-icon {
  height: 24px;
  width: 24px;
  font-size: 24px;
}

.title-panel {
  display: flex;
  align-items: center;
  color: #707581;
  padding-left: 40px;
}

::ng-deep .tooltip {
  font-size: 18px;
}

::ng-deep .small-tooltip {
  font-size: 10px;
}
