<app-top-panel [pageActive]="pageOptions.MY_CHARTS"></app-top-panel>
<div class="content-container">
  <div class="title-panel">
    <h2 class="header">Created charts</h2>
    <mat-icon class="header-icon"
              matTooltip="You'll see all charts that you've created for available stations"
              matTooltipPosition="right"
              matTooltipClass="tooltip">info
    </mat-icon>
  </div>
  <div class="my-charts">
    <div class="list-panel">
      <mat-selection-list #list class="list" (selectionChange)="updateSelections(list.selectedOptions.selected)">
        <div mat-subheader class="subheader">{{listSubHeader}}</div>
        <mat-list-option *ngFor="let chart of charts"
                         [value]="chart"
                         matTooltip="Click to display this chart"
                         matTooltipPosition="right"
                         matTooltipClass="tooltip">
          <mat-icon mat-list-icon>query_stats</mat-icon>
          <div mat-line
               [matTooltip]="chart.title"
               matTooltipPosition="below"
               matTooltipClass="small-tooltip">
            {{chart.title}}
          </div>
          <div mat-line>{{showDates(chart.multipleStationsData)}}</div>
        </mat-list-option>
        <mat-divider></mat-divider>
      </mat-selection-list>
    </div>
    <div class="chart-panel" *ngIf="!chartsLoading">
      <ng-container *ngFor="let selection of selections">
        <div class="selection">
          <app-time-chart [data]="selection" style="width: 100vh;"></app-time-chart>
        </div>
      </ng-container>
      <div *ngIf="!chartsLoading && (noCharts || error)" class="no-data-panel">
        <div class="info-panel">
          <mat-icon class="no-data-icon">info</mat-icon>
          <span class="no-data-text">
        {{error ? errorMessage : noDataText}}
      </span>
        </div>
        <div class="go-to-my-datasets">
          <button mat-button
                  class="no-data-button"
                  color="primary"
                  routerLink="../my-datasets">
            <span class="button-text">{{goToMyDatasets}}</span>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="chartsLoading" class="loading-spinner-panel">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
