::ng-deep .mat-focused .mat-form-field-label {
  color: #6CB48F !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #6CB48F !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #6CB48F !important;;
}

::ng-deep .mat-form-field-label {
  color: #6CB48F !important;
}

.close-button {
  background-color: #6CB48F;
  color: #FFFFFF;
}

.mat-dialog-content {
  display: grid;
}

.warning-title {
  padding-left: 10px;
}

h1 {
  align-items: center;
  display: flex;
}
