<h1 mat-dialog-title>
  <mat-icon class="warning-icon">warning</mat-icon>
  <span class="warning-title">Stations inactive for at least 24 hours:</span>
</h1>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item *ngFor="let endpoint of inactiveEndpoints | keyvalue">
      <mat-icon mat-list-icon>show_chart</mat-icon>
      <div mat-line>{{endpoint.key}}</div>
      <div mat-line> Since {{endpoint.value | date:'medium'}} </div>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="close-button" color="primary">Close</button>
</div>
