<h1 mat-dialog-title>Choose parameters for your chart</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [min]="minDate" [max]="maxDate">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select data</mat-label>
    <mat-select [formControl]="dataControl" multiple>
      <mat-select-trigger>
        {{dataControl.value ? dataControl.value[0] : ''}}
        <span *ngIf="dataControl.value?.length > 1" class="example-additional-selection">
        (+{{dataControl.value.length - 1}} {{dataControl.value?.length === 2 ? 'other' : 'others'}})
      </span>
      </mat-select-trigger>
      <mat-option *ngFor="let data of availableDataList" [value]="data" [matTooltip]="data">
        {{data}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-raised-button color="primary"
          class="submit-button"
          (click)="onSubmit()">
    Submit
  </button>
</div>
