::ng-deep .mat-focused .mat-form-field-label {
  color: #6CB48F !important;
}

::ng-deep .mat-datepicker-content.mat-accent .mat-calendar-body-selected {
  background-color: #6CB48F !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #6CB48F !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #6CB48F !important;;
}

::ng-deep .mat-form-field-label {
  color: #6CB48F !important;
}

::ng-deep .mat-datepicker-toggle {
  color: #6CB48F !important;
}

::ng-deep .mat-calendar-body-selected {
  background-color: #6CB48F !important;
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked {
  background-color: #6CB48F !important;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #6CB48F !important;
}

.submit-button {
  background-color: #6CB48F;
  color: #FFFFFF;
}

.mat-dialog-content {
  display: grid;
}
