app-top-panel {
  width: 10%;
}

.main-page {
  display: flex;
  width: 100%;
}

.half-circle {
  margin-top: 5%;
  width: 100vw;
  height: 170vh;
  background-color: black;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(203, 224, 198, 0.21612394957983194) 67%, rgba(201, 223, 196, 0.5858718487394958) 93%, rgba(144, 190, 133, 0.5326505602240896) 100%);
}

.data-array {
  margin-right: 7%;
  border-spacing: 1em .5em;
}

table {
  background-color: transparent;
  box-shadow: none;
  border: none;
  width: 100%;
  column-gap: 10px;
  padding: 0 15px;
  border-spacing: 2vw 2vw !important;
}

td.mat-cell {
  /* row border */
  text-align: center;
  background-color: rgba(196, 196, 196, 0.58);
  box-shadow: none;
  font-family: 'Poppins';
  border: none;
}

button.mat-button.endpoint-link {
  font-family: 'Poppins';
  font-weight: bold;
  color: #6CB48F;
  border: 2px solid #6CB48F;
}

button.mat-button.endpoint-link:hover {
  font-family: 'Poppins';
  font-weight: bold;
  border: 2px solid #6CB48F;
  background-color: #6CB48F;
  color: white;
}

th.mat-header-cell {
  border-bottom-style: none;
  text-align: center;
  padding-top: 20px !important;
  padding-bottom: 20px;
  background-color: #616462;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(180, 180, 180, 0.95);
  color: black;
  font-family: 'Poppins';
  font-weight: 40;
  width: 70%;
}

p.header-unit {
  color: black;
  font-family: 'Poppins';
  font-weight: 10;

}

tr.mat-header-row {
  height: 6vw;
}

tr.mat-row {
  height: 4vw;
}

#slide {
  position: fixed;
  background-color: #6CB48F;
  width: 1000px;
  right: -1000px;
  transition: right 0.4s ease-in-out;
  -o-transition: right 0.4s ease-in-out;
  -ms-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  -webkit-transition: right 0.4s ease-in-out;
  border-bottom-left-radius: 5px;
  z-index: 10;
}

#toggle {
  position: absolute;
  right: 1000px;
  padding: 20px;
  background-color: #6CB48F;
  color: #FFFFFF;
  border-radius: 7px 0 0 7px;
}

.box {
  padding: 20px;
}

#slide:hover {
  right: 0px;
}

.mat-grid-tile-content {
  display: block !important;
}

mat-grid-tile.unit-changer {
  background-color: white;
  color: #FFFFFF;
  border-radius: 5px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.unit-changer-name {
  color: #6CB48F;
  font-family: 'Poppins';
  font-weight: 10;
  font-size: 13px;
  text-align: left;
  align-content: start;
  padding: 5px;
}

.unit-changer-units {
  color: black;
  text-align: center;
  padding: 5px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

mat-radio-button {
  padding-right: 4%;
  padding-left: 0;
  font-family: 'Poppins';
  font-weight: lighter;
}

app-footer {
  float: right;
}

.info-panel {
  color: #707581;
  width: 80%;
  padding-left: 60px;
}

.error-button {
  background-color: #6CB48F;
  color: #FFFFFF;
}

.error-button-panel {
  justify-content: center;
  width: 80%;
  display: flex;
  padding-top: 30px;
}

.button-text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
}

.no-data-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
}

.no-data-panel {
  display: grid;
  justify-content: center;
  padding-top: 100px;
  padding-left: 160px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color: #6CB48F !important;
}

.compare-section {
  padding-left: 54px;
  width: 7%;
}

.compare-button {
  background-color: #6CB48F;
  color: #FFFFFF;
}

.compare-button-text {
  font-family: Poppins;
  font-weight: 500;
}

.header {
  font-family: Poppins;
  font-weight: 400;
  position: center;
  font-size: 24px;
  padding-left: 8px;
  padding-right: 10px;
}

.reload-icon {
  height: 40px;
  width: 40px;
  font-size: 40px;
}

.header-icon {
  height: 24px;
  width: 24px;
  font-size: 24px;
}

.no-data-icon {
  height: 18px;
  width: 18px;
  font-size: 18px;
}

::ng-deep .tooltip {
  font-size: 12px;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #6CB48F;
}

.loading-spinner-panel {
  display: grid;
  justify-content: center;
  padding-top: 100px;
}

.reload-button {
  color: #6CB48F;
  padding-left: 40px;
  padding-top: 6px;
}

.title-panel {
  display: flex;
  align-items: center;
  color: #707581;
  padding-left: 40px;
}

.more-icon {
  width: 36px;
  height: 36px;
  font-size: 36px;
  padding-top: 3px;
  color: #707581;
}

mat-grid-list {
  z-index: 10;
}
