<app-top-panel [pageActive]="pageOptions.MY_DATASETS"></app-top-panel>
<div class="main-page">
  <div class="half-circle">
    <div class="title-panel">
      <h2 class="header">Recent data from available stations</h2>
      <mat-icon class="header-icon"
                matTooltip="You'll see the most recent data of every available type for given stations"
                matTooltipPosition="right"
                matTooltipClass="tooltip">info
      </mat-icon>
    </div>
    <div class="data-array" *ngIf="!noData && !preparingData && !error">
      <div id="slide">
        <div id="toggle">&#9776;</div>
        <div class="box">
          <mat-grid-list [cols]="cols" rowHeight="80px">
            <div *ngFor="let field of dataTypes">

              <mat-grid-tile *ngIf="field.units" class="unit-changer">
                <div class="mat-grid-tile-content">
                  <div class="unit-changer-name">{{dataNameParserService.parseName(field.name)}}</div>
                  <mat-radio-group [(ngModel)]="field.currentUnit"
                                   (change)="unitChanged(field)"
                                   class="unit-changer-units"
                                   aria-label="unit-selection"
                                   id="{{field.name}}">
                    <b *ngFor="let unit of field.units">
                      <mat-radio-button value="{{unit}}">{{unit}}</mat-radio-button>
                    </b>
                  </mat-radio-group>
                </div>
              </mat-grid-tile>
            </div>
          </mat-grid-list>
        </div>
      </div>

      <div class="reload-button">
        <button matTooltip="Reload data"
                matTooltipPosition="right"
                matTooltipClass="tooltip"
                mat-icon-button
                (click)="prepareRecentData()">
          <mat-icon class="reload-icon">refresh</mat-icon>
        </button>
      </div>

      <table mat-table [dataSource]="endpoints" class="mat-elevation-z8">
        <ng-container matColumnDef="checkbox">
          <th mat-header-cell style="background: transparent; width: 5px" *matHeaderCellDef></th>
          <td mat-cell style="background: transparent" *matCellDef="let endpoint">
            <mat-checkbox (click)="updateSelections(endpoint)"
                          class="{{endpoint.id}}">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> STATIONS</th>
          <td mat-cell *matCellDef="let endpoint">
            <button mat-button class="endpoint-link"
                    (click)=openDatePickerDialog([endpoint])
                    matTooltip="Click to select data for your charts"
                    matTooltipPosition="right"
                    matTooltipClass="tooltip">
              {{endpoint.id}}
            </button>
          </td>
        </ng-container>

        <div *ngFor="let field of dataTypes">
          <ng-container matColumnDef="{{field.name}}">
            <th mat-header-cell *matHeaderCellDef> {{dataNameParserService.parseName(field.name)}} <p
              class="header-unit">{{field.currentUnit}}</p></th>
            <td mat-cell *matCellDef="let endpoint"> {{findMeasurement(endpoint.measurements, field.name)}}</td>
          </ng-container>
        </div>

        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef style="background: transparent"></th>
          <td mat-cell style="background: transparent" *matCellDef="let endpoint">
            <button
              mat-icon-button
              [routerLink]="['/single-station', endpoint.id]"
              matTooltip="Open single station view"
              matTooltipPosition="left"
              matTooltipClass="tooltip">
              <mat-icon class="more-icon">query_stats</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="compare-section"
           matTooltip="Select at least two stations to compare data on chart"
           matTooltipPosition="right"
           matTooltipClass="tooltip"
           [matTooltipDisabled]="selections.length > 1">
        <button class="compare-button"
                [disabled]="selections.length<2"
                mat-button color="primary"
                (click)="openDatePickerDialog(selections)">
          <span class="compare-button-text">
            Compare
          </span>
        </button>
      </div>
    </div>
    <div *ngIf="preparingData" class="loading-spinner-panel">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!preparingData && (noData || error)" class="no-data-panel">
      <div class="info-panel">
        <mat-icon class="no-data-icon">info</mat-icon>
        <span class="no-data-text">
        {{error ? errorMessage : noDataText}}
      </span>
      </div>
      <div class="error-button-panel">
        <button *ngIf="noData && !error"
                mat-button
                class="error-button"
                color="primary"
                routerLink="../home">
          <span class="button-text">{{goToHomePage}}</span>
        </button>
        <button *ngIf="error"
                mat-button
                class="error-button"
                color="primary"
                (click)="reloadPage()">
          <span class="button-text">{{reload}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
