<div class="top-panel">
  <div class="page-title">{{PAGE_TITLE}}</div>
  <div class="options-menu">
    <button mat-button routerLink="/home" [ngClass]="{'active-label': pageActive === pageOptions.HOME}">
      <span>{{HOME}}</span>
    </button>
    <button mat-button routerLink="/my-datasets" [ngClass]="{'active-label': pageActive === pageOptions.MY_DATASETS}">
      <span>{{MY_DATASETS}}</span></button>
    <button mat-button routerLink="/my-charts" [ngClass]="{'active-label': pageActive === pageOptions.MY_CHARTS}">
      <span>{{MY_CHARTS}}</span></button>
    <button mat-button (click)="openAboutUsModal()">
      <span>{{ABOUT_US}}</span></button>
  </div>
</div>
