.top-panel {
  align-items: center;
  display: flex;
  letter-spacing: -0.02em;
  padding-left: 40px;
  padding-top: 20px;
}

.page-title {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 24px;
  padding-right: 40px;
}

.options-menu {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
}

button {
  background-color: inherit;
  color: #616462;
  font-family: 'Poppins';
  font-size: 18px;
  font-style: normal;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}

.active-label {
  color: #6CB48F;
  font-weight: 600;
}
