<h1 mat-dialog-title>Send us message</h1>
<div mat-dialog-content>

  <form class="input-form" *ngIf="!loading && !mailSent && !error">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Your message</mat-label>
      <textarea type="message" matInput [formControl]="messageFormControl" [errorStateMatcher]="matcher"></textarea>
      <mat-error *ngIf="messageFormControl.hasError('minlength') && !messageFormControl.hasError('required')">
        Minimum message length is 10 characters
      </mat-error>
      <mat-error *ngIf="messageFormControl.hasError('required')">
        Message is required
      </mat-error>
    </mat-form-field>
  </form>

  <div class="spinner-area" *ngIf="loading">
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>

  <div *ngIf="mailSent" class="mail-sent-message">
    Thank you! Your message has been sent.
  </div>

  <div *ngIf="error" class="error-message">
    We're sorry, an error occured during message processing.
    <span class="try-again" (click)="tryAgain()">Try again</span>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-raised-button color="primary"
          *ngIf="!mailSent"
          class="submit-button"
          [disabled]="loading || error"
          (click)="onSubmit()">
    Submit
  </button>
</div>
