.submit-button {
  background-color: #6CB48F;
  color: #FFFFFF;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #6CB48F !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #6CB48F !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #6CB48F !important;;
}

.input-form {
  min-width: 350px;
  max-width: 500px;
  width: 100%;
  display: grid;
}

textarea {
  height: 150px;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #6CB48F;
}

.spinner-area {
  min-width: 350px;
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mail-sent-message {
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
}

.error-message {
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
}

.try-again {
  color: #6CB48F;
  cursor: pointer;
}
