@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://code.highcharts.com/css/highcharts.css";

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgba(144, 190, 133, 1);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  color: rgba(144, 190, 133, 1);
  background-color: rgba(144, 190, 133, 1);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(144, 190, 133, 0.76);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgb(133, 190, 149, 0.76);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #6cb48f;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: #6cb48f;
}

.mat-calendar-body-selected {
  background-color: #6cb48f;
}
