<app-top-panel [pageActive]="pageOptions.HOME"></app-top-panel>
<div class="main-page">
  <div class="text-panel">

    <div class="blue-rect-container">
      <svg width="48" height="48">
        <rect class="blue-rect" rx="100" ry="100"></rect>
      </svg>
    </div>

    <div class="purple-triangle-container">
      <svg width="43" height="42">
        <rect class="purple-triangle"></rect>
      </svg>
    </div>


    <div class="catch-phrase">{{CATCH_PHRASE}}</div>

    <div class="green-rect-container">
      <svg width="32" height="39">
        <rect class="green-rect"></rect>
      </svg>
    </div>

    <div class="description">{{DESCRIPTION}}</div>

    <div class="upload">
      <button mat-raised-button
              class="import-button"
              (click)="openDialog()">
        <span class="label">{{UPLOAD_BUTTON_LABEL}}</span>
      </button>
    </div>

  </div>

  <div class="image-panel">

    <div class="gradient-rect-container">
      <img class="image" src="assets/business-woman.png">
    </div>

  </div>
</div>
<app-footer></app-footer>
