app-top-panel {
  width: 10%;
}

.main-page {
  display: flex;
}

.text-panel {
  padding-left: 90px;
  padding-top: 40px;
  width: 40%;
  letter-spacing: -0.02em;
}

.blue-rect {
  width: 32px;
  height: 32px;
  x: 5px;
  y: 5px;
  stroke: #6BA3F8;
  stroke-width: 8px;
  fill: #FFFF;
}

.purple-triangle-container {
  float: right;
}

.purple-triangle {
  width: 31px;
  height: 30px;
  x: -5;
  y: -5;
  stroke: #E38CEB;
  stroke-width: 6px;
  fill: #FFFF;
}

.catch-phrase {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 70px;
  line-height: 70px;
  padding-top: 30px;
  width: 70%;
}

.description {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-top: 20px;
  width: 75%;
  color: #707581;
}

.green-rect-container {
  float: right;
  padding-right: 40px;
}

.green-rect {
  width: 20px;
  height: 27px;
  x: 5;
  y: 5;
  stroke: #6CB48F;
  stroke-width: 6px;
  fill: #FFFF;
}

.upload {
  padding-top: 20px;
  padding-left: 20px;
}

.import-button {
  background: #6CB48F;
  box-shadow: 20px 20px 60px #C3DDD0;
  color: #FFFF;
  position: center;
}

.label {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}

.image-panel {
  width: 50%;
  padding-top: 60px;
}

.gradient-rect-container {
  float: right;
  width: 90%;
  display: flex;
}

.image {
  width: 70%;
  height: 70%;
  background: linear-gradient(180deg, #E6F5EB 0%, rgba(230, 245, 235, 0) 100%);;
}

app-footer {
  float: right;
}

@media screen and (max-width: 600px) {

  img {
    display: none;
  }
}
