.contact-us-button {
  background: #6CB48F;
  box-shadow: 10px 10px 40px rgba(155, 157, 177, 0.25);
  color: #FFFFFF;
  width: 52px;
  height: 52px;
}

::ng-deep .tooltip {
  font-size: 16px;
}

mat-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
}
