<button matTooltip="Send us message"
        matTooltipPosition="left"
        matTooltipClass="tooltip"
        mat-fab class="contact-us-button"
        (click)="openDialog()">
  <mat-icon>message icon</mat-icon>
</button>
